@import "tailwindcss";
:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --logo-color: #1f2937;
  --link-color: #2563eb;
  --link-hover-color: #1e40af;
  --border-color: #111827;
}

[data-theme="dark"] {
  --bg-color: #1f2937;
  --text-color: #e0e0e0;
  --logo-color: #d1d5db;
  --link-color: #60a5fa;
  --link-hover-color: #93c5fd;
  --border-color: #d1d5db;
}
